<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <title>Publicar Articulo</title>
  </head>

  <body>
    <div class="container">
      <form method="POST" action="/">
        <div class="form-group">
          <label for="exampleFormControlInput1">Título</label>
          <input
            type="text"
            class="form-control"
            name="titulo"
            placeholder="Titulo descriptivo"
            maxlength="60"
          />
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Categoria</label>
          <input
            type="text"
            class="form-control"
            name="catecoria-select"
            id="categoria"
            placeholder="Categoria"
          />
          <input
            type="text"
            class="form-control categoria-meli"
            name="categoria-meli"
            id="categoria-meli"
          />
          <p class="idCategoria"></p>
        </div>
        <div class="form-group">
          <label for="precio">Precio</label>
          <input
            type="text"
            class="form-control"
            name="precio"
            placeholder="Coloque el precio"
          />
        </div>

        <br />

        <div class="atribute-options" id="atribute-options">

        </div>

        <br>
        <label for="condicion">Condición</label>
        <br />
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="condition"
            value="nuevo"
          />
          <label class="form-check-label" for="exampleCheck1">Nuevo</label>
        </div>

        <div class="form-check col-md-4">
          <input
            type="radio"
            class="form-check-input"
            name="condition"
            value="usado"
          />
          <label class="form-check-label" for="exampleCheck1">Usado</label>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>

        <br />
        <br />

        <div class="atribute-options" id="atribute-options">
          

        </div>
      </form>
    </div>
  </body>

  <script src="scripts/main.js"></script>
</html>
